.main-menu {
  background-color: transparent;
  font-size: 1.125rem;
}

.main-menu .wp-block-navigation__container {
  gap: 0;
  margin: 0 auto;
  padding: 0;
}

.main-menu .wp-block-navigation-item {
  position: relative;
  display: block;
  margin-bottom: 1em;
  font-size: .7em;

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint($sm) {
    margin: 0;
  }
}

.main-menu .wp-block-navigation-item__content {
  @include menu-item-text;

  background-color: transparent;
  border-radius: .25em;
  display: block;
  font-size: 1.25em;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    background-color: rgba($c--white, .25);
    color: $c--black;
    text-decoration: none;
  }
}

.main-menu .current-menu-item > .wp-block-navigation-item__content,
.main-menu .current-menu-ancestor > .wp-block-navigation-item__content,
.main-menu .wp-block-navigation-item__content[aria-current='page'] {
  background-color: rgba($c--white, .55);
  color: $c--black;
}

.main-menu .wp-block-navigation__container {

  @include breakpoint($sm) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
