.layout.layout--song {

  .node-title {
    margin-bottom: .125em;
    line-height: 1;
  }

  .song-authors {
    margin-bottom: 0;
  }

  .personnel {
    background-color: $c--gray--dark-03;
    color: white;
    padding: 1em;
    margin-bottom: 0;

    ul {
      margin: 0;
    }

    li {
      list-style-type: none;
    }
  }

  nav {

    a {
      font-weight:bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
