.wp-site-blocks {
  display: block;
  container-type: size;
  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

nav.site-navigation {
  position: relative;
  z-index: 2000;
}

section.featured-image  {
  position: relative;
  z-index: 500;
}

main,
.editor-styles-wrapper .is-root-container {
  position: relative;
  z-index: 100;
  margin: 0 auto;
  padding: 0 1.25rem;
  flex: 1;
  width: 100%;
}

.site-footer {
  background-color: rgba(#FFF, .25);
}
