*,
html,
body {
  margin: 0;
  padding: 0;
}

html,
body { height: 100%; }

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.clearfix:before {
  content: " ";
  display: table;
  clear: both;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
