.site-header {
  position: relative;
  z-index: 1000;
  background-color: rgba($c--white, .5);
  padding: 1em 1.5em;
  justify-content: space-between;
  display: flex;
  gap: .5rem;

  @include breakpoint($sm) {
    flex-direction: column;
  }
}

.header-top {
  display: flex;
  grid-gap: .5em;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  flex-grow: 1;
}

.menu-social-media-container {
  margin-top: 1em;
}

h1.wp-block-site-title {
  @extend %h1;

  display: flex;
  font-size: $font-size--lg;
  justify-content: center;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 1;

  a {
    color: $c--black;
    opacity: .625;
    text-decoration: none;

    &:hover {
      opacity: .8;
      text-decoration: none;
    }
  }
  
  @include breakpoint($sm) {
    font-size: $font-size--xl;
  }
  
  @include breakpoint($md) {
    font-size: $font-size--xxl;
  }
}
