h4.related-album-header {
  margin: 0 0 1em;
}

ul.related-albums {
  list-style: none;
}

li.related-album {
  display: block;
  padding: 0;
  margin: 0 0 1em;
}

ul.related-album-songs {
  list-style: none;
}

li.related-album-song {
  font-size: .85em;
}