<!-- wp:template-part {"slug":"header","area":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main"><!-- wp:heading {"level":1} -->
<h1>Page not found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Sorry, we could not find what you were looking for.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","lock":{"move":true,"remove":true}} /-->
