<!-- wp:group {"className":"wrapper","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper"><!-- wp:group {"className":"wrapper-inner","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper-inner"><!-- wp:group {"className":"container-site","layout":{"type":"default"}} -->
<div class="wp-block-group container-site"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main"><!-- wp:group {"className":"layout layout--page","layout":{"type":"constrained"}} -->
<div class="wp-block-group layout layout--page"><!-- wp:post-title {"level":1,"className":"node-title"} /-->

<!-- wp:post-content /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
