<!-- wp:group {"className":"wrapper","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper"><!-- wp:group {"className":"wrapper-inner","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper-inner"><!-- wp:group {"className":"container-site","layout":{"type":"default"}} -->
<div class="wp-block-group container-site"><!-- wp:template-part {"slug":"header","area":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main"><!-- wp:mysteriousface/song-shell -->
<!-- wp:group {"tagName":"section","className":"heading","layout":{"type":"constrained"}} -->
<section class="wp-block-group heading"><!-- wp:post-title {"level":1,"className":"node-title"} /-->

<!-- wp:mysteriousface/song-authors /-->

<!-- wp:mysteriousface/song-personnel /--></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"body","layout":{"type":"constrained"}} -->
<section class="wp-block-group body"><!-- wp:post-content /--></section>
<!-- /wp:group -->

<!-- wp:mysteriousface/song-lyrics /-->

<!-- wp:mysteriousface/song-player /-->

<!-- wp:mysteriousface/song-related-albums /-->
<!-- /wp:mysteriousface/song-shell --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","lock":{"move":true,"remove":true}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
