<!-- wp:group {"className":"wrapper","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper"><!-- wp:group {"className":"wrapper-inner","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper-inner"><!-- wp:group {"className":"container-site","layout":{"type":"default"}} -->
<div class="wp-block-group container-site"><!-- wp:template-part {"slug":"header","area":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main"><!-- wp:group {"className":"layout layout--single","layout":{"type":"constrained"}} -->
<div class="wp-block-group layout layout--single"><!-- wp:post-title {"level":1} /-->

<!-- wp:post-content /-->

<!-- wp:group {"layout":{"type":"flex","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:post-navigation-link {"type":"previous","label":"Previous:"} /-->

<!-- wp:post-navigation-link {"type":"next","label":"Next:"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","lock":{"move":true,"remove":true}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
