<!-- wp:group {"className":"wrapper","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper"><!-- wp:group {"className":"wrapper-inner","layout":{"type":"default"}} -->
<div class="wp-block-group wrapper-inner"><!-- wp:group {"className":"container-site","layout":{"type":"default"}} -->
<div class="wp-block-group container-site"><!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"primary","className":"site-main","layout":{"type":"constrained"}} -->
<main id="primary" class="wp-block-group site-main"><!-- wp:mysteriousface/song-shell {"lock":{"move":true,"remove":true}} -->
<!-- wp:group {"tagName":"section","className":"heading","layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} -->
<section class="wp-block-group heading"><!-- wp:post-title {"level":1,"className":"node-title","lock":{"move":true,"remove":true}} /-->

<!-- wp:mysteriousface/song-authors {"lock":{"move":true,"remove":true}} /-->

<!-- wp:mysteriousface/song-personnel {"lock":{"move":true,"remove":true}} /--></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"section","className":"body","layout":{"type":"constrained"},"lock":{"move":true,"remove":true}} -->
<section class="wp-block-group body"><!-- wp:post-content {"lock":{"move":true,"remove":true}} /--></section>
<!-- /wp:group -->

<!-- wp:mysteriousface/song-lyrics {"lock":{"move":true,"remove":true}} /-->

<!-- wp:mysteriousface/song-player {"lock":{"move":true,"remove":true}} /-->

<!-- wp:mysteriousface/song-related-albums {"lock":{"move":true,"remove":true}} /-->
<!-- /wp:mysteriousface/song-shell --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
